.page[b-na97djipdv] {
    position: relative;
    display: flex;
    flex-direction: row;
    background-image: url(https://i.imgur.com/jTR7b91.png);
}

main[b-na97djipdv] {
    flex: 1;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
}

.sidebar[b-na97djipdv] {
    border-right: solid 1px;
    border-color: rgb(255, 255, 255, 0.10);
    width: 15rem;
    height: 100vh;
    position: sticky;
    top: 0;
}

.rightsidebar[b-na97djipdv] {
    border-left: solid 1px;
    border-color: rgb(255, 255, 255, 0.10);
    width: 6rem;
    height: 100vh;
    position: sticky;
    top: 0;
}
