@page "/config"
@using System;
@using System.Diagnostics;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Text.Json;
@using Aetherium.Components.Functions;
@using Aetherium.Components.Functions.Config;
@inject IToastService toastService

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="configbgpaths">
                <div class="configheaderpaths">
                    <h4>File Paths</h4>
                    <div class="configcontainerpaths">
                        <div class="input-group mb-1">
                            <span class="input-group-text configlabel">Server Path</span>
                            <input type="text" class="form-control" @bind-value="Configuration.Instance.ServerPath" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                        </div>
                        <div class="input-group mb-1">
                            <span class="input-group-text configlabel">Save Path</span>
                            <input type="text" class="form-control" @bind-value="Configuration.Instance.SavePath" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                        </div>
                        <div class="input-group mb-1">
                            <span class="input-group-text configlabel">Backup Path</span>
                            <input type="text" class="form-control" @bind-value="Configuration.Instance.BackupPath" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="configbgparams">
                <div class="configheaderparams">
                    <h4>Parameters</h4>
                    <div class="configcontainerparams">
                        <div class="input-group mb-1">
                            <span class="input-group-text configlabel">Launch Parameters</span>
                            <input type="text" class="form-control" @bind-value="Configuration.Instance.LaunchParams" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col">
            <div class="configbg">
                <div class="configheader">
                    <h4>Rcon</h4>
                    <div class="configcontainer">
                        <div class="input-group mb-1">
                            <span class="input-group-text configlabel">IP</span>
                            <input type="text" class="form-control" @bind-value="Configuration.Instance.RconIp" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                        </div>
                        <div class="input-group mb-1">
                            <span class="input-group-text configlabel">Port</span>
                            <input type="text" class="form-control" @bind-value="Configuration.Instance.RconPort" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                        </div>
                        <div class="input-group mb-1">
                            <span class="input-group-text configlabel">Admin Password</span>
                            <input type="password" class="form-control" @bind-value="Configuration.Instance.AdminPassword" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="configbg">
                <div class="configheader">
                    <h4>Intervals</h4>
                    <div class="configcontainer">
                        <div class="input-group mb-1">
                            <span class="input-group-text configlabel">Backup Interval (minutes)</span>
                            <input type="number" class="form-control" @bind-value="Configuration.Instance.BackupInterval" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                        </div>
                        <div class="input-group mb-1">
                            <span class="input-group-text configlabel">Restart Interval (minutes)</span>
                            <input type="number" class="form-control" @bind-value="Configuration.Instance.RestartInterval" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="configswitcher">
                <div class="input-group mt-1">
                    <button class="btn btn-light bg-gradient btn-sm dropdown-toggle configbutton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @Configuration.Instance.ConfigName
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var configName in AppConfig.ConfigNames)
                        {
                            <li><button class="dropdown-item" @onclick="() => ServerConfigsLoad.LoadServerConfig(configName)">@configName</button></li>
                        }
                    </ul>
                    <input type="text" class="form-control newconfigname" @bind="AppConfig.NewConfigName" placeholder="Enter new config name" />
                    <button class="btn btn-success bg-gradient btn-sm configbutton" @onclick="ServerConfigsAdd.AddNewConfig">Add Config</button>
                    <button class="btn btn-danger bg-gradient btn-sm configbutton" @onclick="ServerConfigsDelete.DeleteConfig">Delete Config</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        AppSettingsInit.InitAppSettings(); // Create appsettings.json if it doesn't exist
        AppSettingsLoad.LoadAppConfig(); // Load existing Configurations     
        if (!string.IsNullOrWhiteSpace(Configuration.Instance.ConfigName)) // Ensure a config name is set before attempting to load, to avoid errors
        {
            ServerConfigsLoad.LoadServerConfig(Configuration.Instance.ConfigName); // Load selected Configuration
        }
    }
}
