@page "/config"
@using System;
@using System.Diagnostics;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Text.Json;
@using Aetherium.Components.Functions;
@using Aetherium.Components.Functions.Config;
@using Aetherium.Components.Functions.Toasts;

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="configbg">
                <div class="configheader">
                    <span class="configheadertext">File Paths</span>
                </div>
                <div class="configcontainer">
                    <div class="input-group">
                        <span class="input-group-text configlabel">Server Path</span>
                        <input type="text" class="form-control" @bind-value="Configuration.Instance.ServerPath" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                        <button class="btn btn-light btn-sm filepickerbtn" @onclick="FilepickerService.PickServerPath">Browse Files</button>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text configlabel">Save Path</span>
                        <input type="text" class="form-control" @bind-value="Configuration.Instance.SavePath" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                        <button class="btn btn-light btn-sm filepickerbtn" @onclick="FilepickerService.PickSavePath">Browse Files</button>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text configlabel">Backup Path</span>
                        <input type="text" class="form-control" @bind-value="Configuration.Instance.BackupPath" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                        <button class="btn btn-light btn-sm filepickerbtn" @onclick="FilepickerService.PickBackupPath">Browse Files</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="configbg">
                <div class="configheader">
                    <span class="configheadertext">Parameters</span>
                </div>
                <div class="configcontainer">
                    <div class="input-group">
                        <span class="input-group-text configlabel2">Launch Parameters</span>
                        <input type="text" class="form-control" @bind-value="Configuration.Instance.LaunchParams" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col">
            <div class="configbg">
                <div class="configheader">
                    <span class="configheadertext">Rcon</span>
                </div>
                <div class="configcontainer">
                    <div class="input-group">
                        <span class="input-group-text configlabel3">IP</span>
                        <input type="text" class="form-control" @bind-value="Configuration.Instance.RconIp" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-text configlabel3">Port</span>
                        <input type="text" class="form-control" @bind-value="Configuration.Instance.RconPort" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-text configlabel3">Password</span>
                        <input type="password" class="form-control" @bind-value="Configuration.Instance.RconPassword" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="configbg">
                <div class="configheader">
                    <span class="configheadertext">Intervals (minutes)</span>
                </div>
                <div class="configcontainer">
                    <div class="input-group">
                        <span class="input-group-text configlabel3">Backup</span>
                        <input type="number" class="form-control" @bind-value="Configuration.Instance.BackupInterval" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-text configlabel3">Restart</span>
                        <input type="number" class="form-control" @bind-value="Configuration.Instance.RestartInterval" @onchange="ServerConfigsSave.SaveConfig" @bind-value:event="oninput" />
                        <NavLink class="btn btn-light bg-gradient btn-sm filepickerbtn" href="restartconfig">Advanced Settings</NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="configswitcher">
                <div class="input-group mt-1">
                    <button class="btn btn-light bg-gradient btn-sm dropdown-toggle configbutton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @Configuration.Instance.ConfigName
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var configName in AppConfig.ConfigNames)
                        {
                            <li><button class="dropdown-item" @onclick="() => ServerConfigsLoad.LoadServerConfig(configName)">@configName</button></li>
                        }
                    </ul>
                    <input type="text" class="form-control newconfigname" @bind="AppConfig.NewConfigName" placeholder="Enter config name" />
                    <button class="btn btn-success bg-gradient btn-sm configbutton" @onclick="ServerConfigsAdd.AddNewConfig">Add Config</button>
                    <button class="btn btn-danger bg-gradient btn-sm configbutton" @onclick="ServerConfigsDelete.DeleteConfig">Delete Config</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        AppSettingsInit.InitAppSettings(); // Create appsettings.json if it doesn't exist
        AppSettingsLoad.LoadAppConfig(); // Load existing Configurations     
        if (!string.IsNullOrWhiteSpace(Configuration.Instance.ConfigName)) // Ensure a config name is set before attempting to load, to avoid errors
        {
            ServerConfigsLoad.LoadServerConfig(Configuration.Instance.ConfigName); // Load selected Configuration
        }
    }
}
