@page "/"
@using Microsoft.AspNetCore.Components.Routing
@using Aetherium.Components.Functions.Config;

<div class="container">
    <div class="row">
        <div class="col">
            <div class="home-logo"></div>

            <p class="mt-3" style="text-align: center;">Aetherium is your ultimate destination for streamlined game server management. Whether you're setting up a cozy gaming haven for friends on your local machine or harnessing the power of a Virtual Private Server (VPS), Aetherium empowers you every step of the way. Wave goodbye to clunky 'Start.bat' scripts and embrace the future of gaming with Aetherium at your side. Seamlessly launch, monitor, and maintain your game servers with ease.</p>

            <div class="text-center">
                <a href="config" class="btn btn-primary bg-gradient mt-2">Get Started</a>
            </div>
        </div>
    </div>
</div>



@code {
    protected override async Task OnInitializedAsync()
    {
        AppSettingsLoad.LoadAppConfig();
        if (!string.IsNullOrWhiteSpace(Configuration.Instance.ConfigName)) // Ensure a config name is set before attempting to load, to avoid errors
        {
            ServerConfigsLoad.LoadServerConfig(Configuration.Instance.ConfigName); // Load selected Configuration
        }
    }
}
