@page "/"
@using Microsoft.AspNetCore.Components.Routing

<div class="alert alert-warning" role="alert">
    [v0.0.9] This is a pre-release build. Please be aware of potential bugs and instability.
</div>

<h2>Aetherium: Streamlining Server Management</h2>

<p>Aetherium is a powerful tool for managing your servers with ease. Aetherium simplifies the process of starting, stopping, and configuring your server.</p>

<h3>First Time?</h3>

<p>Click "Get Started" to configure your server.</p>


<div class="text-center">
    <a href="config" class="btn btn-primary">Get Started</a>
</div>


@code {

}
