@page "/rcon"
@using CoreRCON;
@using System.Diagnostics;
@using System.Net;
@using System.Text.Json;
@using System.IO;
@using Aetherium.Components.Functions;
@using Aetherium.Components.Functions.Config;
@using Aetherium.Components.Functions.Server;
@using Aetherium.Components.Functions.Services;
@inject IJSRuntime JSRuntime


<div class="container">
    <div class="row">
        <div class="col">
            <h5>RCON Console</h5>
            <textarea id="outputTextarea" class="form-control rconoutput" rows="10" readonly>@AppConfig.rconOutput</textarea>

            <div class="input-group mt-1">
                <button class="btn btn-success bg-gradient btn-sm rcon-button" @onclick="RconConnect">Connect</button>
                <button class="btn btn-danger bg-gradient btn-sm rcon-button" @onclick="RconDisconnect">Disconnect</button>
                <input type="text" class="form-control" placeholder="Enter RCON Command" @bind="AppConfig.rconCommand">
                <button class="btn btn-light bg-gradient btn-sm rcon-button" @onclick="RconSendCommand">Send</button>
            </div>
        </div>
    </div>
</div>

@code {


    protected override async Task OnInitializedAsync()
    {
        AppSettingsLoad.LoadAppConfig();
        if (!string.IsNullOrWhiteSpace(Configuration.Instance.ConfigName)) // Ensure a config name is set before attempting to load, to avoid errors
        {
            ServerConfigsLoad.LoadServerConfig(Configuration.Instance.ConfigName); // Load selected Configuration
        }
    }

    // Scroll textarea and Update UI
    private async Task OutputUpdate()
    {
        await JSRuntime.InvokeVoidAsync("scrollToBottom");
        await InvokeAsync((StateHasChanged));
    }

    public static async Task RconConnect()
    {
        // Assuming AppConfig.rconIp, AppConfig.rconPort, and AppConfig.rconPassword are already populated
        if (!string.IsNullOrWhiteSpace(AppConfig.rconIp) && !string.IsNullOrWhiteSpace(AppConfig.rconPort) && !string.IsNullOrWhiteSpace(AppConfig.rconPassword))
        {
            try
            {
                AppConfig.rconOutput = "";
                AppConfig.rcon = new RCON(IPAddress.Parse(AppConfig.rconIp), ushort.Parse(AppConfig.rconPort), AppConfig.rconPassword);
                await AppConfig.rcon.ConnectAsync();
                AppConfig.isConnected = true;
                AppConfig.rconOutput += $"[{Configuration.Instance.Prefix}] RCON Connected\n";
            }
            catch (Exception ex)
            {
                AppConfig.rconOutput += $"[{Configuration.Instance.Prefix}] RCON failed to connect: {ex.Message}\n";
            }
        }
        else
        {
            AppConfig.rconOutput += $"[{Configuration.Instance.Prefix}] Configuration not found or incomplete.\n";
        }
    }


    public static async Task RconSendCommand()
    {
        if (AppConfig.isConnected && AppConfig.rcon != null && !string.IsNullOrWhiteSpace(AppConfig.rconCommand))
        {
            try
            {
                var response = await AppConfig.rcon.SendCommandAsync(AppConfig.rconCommand);
                AppConfig.rconOutput += $"{response}\n";
                AppConfig.rconCommand = "";
                Rcon rcon = new Rcon();
                await rcon.OutputUpdate();
            }
            catch (Exception ex)
            {
                AppConfig.rconOutput += $"[{Configuration.Instance.Prefix}] {ex.Message}\n";
            }
        }
        else if (!AppConfig.isConnected)
        {
            AppConfig.rconOutput += $"[{Configuration.Instance.Prefix}] RCON is not connected.\n";
        }
    }

    public static void RconDisconnect()
    {
        if (AppConfig.rcon != null)
        {
            try
            {
                AppConfig.rcon.Dispose();
                AppConfig.isConnected = false;
                AppConfig.rconOutput = "";
                AppConfig.rconOutput += $"[{Configuration.Instance.Prefix}] RCON Disconnected\n";
            }
            catch (Exception ex)
            {
                Debug.WriteLine($"RCON is not connected: {ex.Message}");
                ToastService.Toast("RCON is not connected:", ex.Message);
            }
        }
    }
}
