@page "/settings"

<div class="container">
    <div class="row">
        <div class="col">
            <h6>Version: v0.1.0</h6>

            <div class="themesdropdown">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Themes
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Dark Theme (default)</a></li>
                        <li><a class="dropdown-item" href="#">Light Theme</a></li>
                    </ul>
                </div>
            </div>

            <p>Themes not implemented, yet.</p>
        </div>
    </div>
</div>

@code {

}
