.page {
    position: relative;
    display: flex;
    flex-direction: row;
    background: url(https://i.imgur.com/jTR7b91.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    flex: 1;
    color: white;
}

.sidebar {
    border-right: solid 1px;
    border-color: rgb(255, 255, 255, 0.20);
    width: 15rem;
    height: 100vh;
    position: sticky;
    top: 0;
}

.bottombar {
    position: absolute;
    bottom: 0;
    width: 83.29846%;
    border-top: solid 1px;
    border-color: rgb(255, 255, 255, 0.20);
}
