.page {
    position: relative;
    display: flex;
    flex-direction: row;
}

main {
    position: relative;
    flex: 1;
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0;
    border-right: solid 1px;
    border-color: var(--border-heavy);
    width: 15rem;
    height: 100vh;
}

.sidebar-container {
    display: flex;
    height: 37rem;
}

.sidebar-header {
    border-bottom: solid 1px;
    border-color: var(--border-heavy);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-logo {
    display: block;
    margin: auto;
    width: 210px;
    height: 3rem;
    background-image: var(--banner-logo);
    background-size: contain;
    background-repeat: no-repeat;
}


.sidebar-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: solid 1px;
    border-color: rgb(255, 255, 255, 0);
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    height: 7.75rem;
}

.sidebar-footer-button {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(255, 255, 255, 0.0000001)
}

.sidebar-footer-version {
    display: inline-block;
    height: 1rem;
    width: auto;
    padding-top: 0.6rem;
    color: rgb(255, 255, 255, 0.1);
}

.icon {
    display: inline-block;
    position: center;
    width: 1.75rem;
    height: 1.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-size: cover;
}

    .icon:hover {
        width: 2rem;
        height: 2rem;
    }

    .icon:active {
        width: 2.25rem;
        height: 2.25rem;
    }

.bi-youtube {
    background-image: var(--icon-youtube);
}

.bi-twitch {
    background-image: var(--icon-twitch);
}

.bi-github {
    background-image: var(--icon-github);
}

.sidebar-footer-text {
    color: rgb(255, 255, 255, 0.05);
}


.bottombar {
    position: fixed;
    bottom: 0;
    left: 15rem;
    right: 0;
    border-top: solid 1px;
    border-color: var(--border-heavy);
    height: auto;
}
