@inherits LayoutComponentBase
@using Aetherium.Components.Functions.Services
@using Aetherium.Components.Functions.Config

<div class="page">
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="header-logo"></div>
        </div>
        <div class="sidebar-container">
            <NavMenu />
        </div>
        <div class="sidebar-footer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a class="sidebar-footer-button" @onclick="OpenYoutube">
                            <span class="icon bi-youtube" aria-hidden="true"></span>
                        </a>
                        <a class="sidebar-footer-button" @onclick="OpenTwitch">
                            <span class="icon bi-twitch" aria-hidden="true"></span>
                        </a>
                        <a class="sidebar-footer-button" @onclick="OpenGithub">
                            <span class="icon bi-github" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <span class="sidebar-footer-version">Version: v@(AppConfig.AppVersion)</span>
            </div>
        </div>
    </div>

    <main>
        <article class="content px-4">
            @Body

        </article>
    </main>

    <div class="bottombar">
        <ProcessMonitor />
    </div>
</div>


@code
{


    private static async Task OpenYoutube()
    {
        await UrlService.OpenUrl("https://www.youtube.com/channel/UCf8fK2ua6GiN52g4a-A0XAw");
    }

    private static async Task OpenTwitch()
    {
        await UrlService.OpenUrl("https://www.twitch.tv/arieslr");
    }

    private static async Task OpenGithub()
    {
        await UrlService.OpenUrl("https://github.com/AriesLR");
    }
}