@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="header-logo"></div>
        </div>
        <div class="sidebar-container">
            <NavMenu />
        </div>
        <div class="sidebar-footer">
            <span class="sidebar-footer-text">Made by AriesLR</span>
        </div>
    </div>

    <main>
        <article class="content px-4">
            @Body

        </article>
    </main>

    <div class="bottombar">
        <ProcessMonitor />
    </div>
</div>
