<div class="container">
    <div class="row row-cols-1">
        <div class="col">
            <img class="header-logo" src="images/bannerlogo.png" width="210px" height="auto">
        </div>
        <div class="col">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                    <span class="nav-item-text">Home</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="server">
                    <span class="bi bi-hdd-stack-fill-nav-menu" aria-hidden="true"></span>
                    <span class="nav-item-text">Server</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="config">
                    <span class="bi bi-tools-fill-nav-menu" aria-hidden="true"></span>
                    <span class="nav-item-text">Server Config</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="rcon">
                    <span class="bi bi-server-fill-nav-menu" aria-hidden="true"></span>
                    <span class="nav-item-text">Rcon Client</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="settings">
                    <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span>
                    <span class="nav-item-text">Settings</span>
                </NavLink>
            </div>
        </div>
        <div class="col">
            <div class="footer d-flex align-items-center justify-content-center">
                Made by AriesLR
            </div>
        </div>
    </div>
</div>
