.navcontainer {
    display: flex;
    flex-direction: column;
}

.nav-item-text {
    display: flex;
    position: center;
    font-family: var(--fancy-font);
    letter-spacing: 0.10rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--text-color-alt);
}

.icon {
    display: inline-block;
    position: center;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    background-size: cover;
    filter: var(--icon-color-deselected);
}

.bi-house-door-fill {
    background-image: var(--icon-house);
}

.bi-hdd-stack-fill {
    background-image: var(--icon-hdd-stack);
}

.bi-tools-fill {
    background-image: var(--icon-tools);
}

.bi-gear-fill {
    background-image: var(--icon-gear);
}

.bi-server-fill {
    background-image: var(--icon-server);
}

.nav-item {
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.00001);
        }

            .nav-item ::deep a.active .icon,
            .nav-item ::deep a.active:hover .icon {
                width: 2.2rem;
                height: 2.2rem;
                filter: var(--icon-color-selected);
            }

            .nav-item ::deep a.active .nav-item-text,
            .nav-item ::deep a.active:hover .nav-item-text {
                font-size: 1.5rem;
                color: var(--text-color);
            }

        .nav-item ::deep a:hover .icon {
            width: 2rem;
            height: 2rem;
            background-color: rgba(255,255,255,0);
            filter: var(--icon-color-selected);
        }

        .nav-item ::deep a:hover .nav-item-text {
            font-size: 1.3rem;
            color: var(--text-color);
        }


