<div class="container">
    <div class="row">
        <div class="col">
            <div class="navcontainer">
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="icon bi-house-door-fill" aria-hidden="true"></span>
                        <span class="nav-item-text">Home</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="server">
                        <span class="icon bi-hdd-stack-fill" aria-hidden="true"></span>
                        <span class="nav-item-text">Server</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="config">
                        <span class="icon bi-tools-fill" aria-hidden="true"></span>
                        <span class="nav-item-text">Config</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="rcon">
                        <span class="icon bi-server-fill" aria-hidden="true"></span>
                        <span class="nav-item-text">RCON</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="settings">
                        <span class="icon bi-gear-fill" aria-hidden="true"></span>
                        <span class="nav-item-text">Settings</span>
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</div>
