.page[b-na97djipdv] {
    position: relative;
    display: flex;
    flex-direction: row;
}

main[b-na97djipdv] {
    position: relative;
    flex: 1;
}

.sidebar[b-na97djipdv] {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0;
    border-right: solid 1px;
    border-color: var(--border-heavy);
    width: 15rem;
    height: 100vh;
}

.sidebar-container[b-na97djipdv] {
    display: flex;
    height: 37rem;
}

.sidebar-header[b-na97djipdv] {
    border-bottom: solid 1px;
    border-color: var(--border-heavy);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-logo[b-na97djipdv] {
    display: block;
    margin: auto;
    width: 210px;
    height: 3rem;
    background-image: var(--banner-logo);
    background-size: contain;
    background-repeat: no-repeat;
}


.sidebar-footer[b-na97djipdv] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: solid 1px;
    border-color: rgb(255, 255, 255, 0.00);
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 5.5rem;
}

.sidebar-footer-text[b-na97djipdv] {
    color: rgb(255, 255, 255, 0.05);
}


.bottombar[b-na97djipdv] {
    position: fixed;
    bottom: 0;
    left: 15rem;
    right: 0;
    border-top: solid 1px;
    border-color: var(--border-heavy);
    height: auto;
}
